<!DOCTYPE html>
<html>
<head>
    <title>Добавление новой записи</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Удалить трубу</h1>
    <form action="/SteelPipe/Delete" method="post">
        <label for="pipeId">Идентификатор трубы:</label>
        <input type="text" name="pipeId" required>
        <br>
        <button type="submit">Удалить</button>
    </form>
</body>
</html>
