<!DOCTYPE html>
<html>
<head>
    <title>Добавление новой записи</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/EnterpriseCreateDelete.css" />
</head>
<body>
    <div class="centered-div">
        <h1>Добавление новой записи</h1>
        <form action="/Enterprise/Create" method="post" class="container">
            <label for="enterpriseName">Название:</label>
            <input type="text" name="enterpriseName" required>
            <br>
            <label for="organization">Организация:</label>
            <input type="text" name="organization" required>
            <br>
            <button type="submit" class="button">Сохранить</button>
        </form>
        <a href='@Url.Action("ShowTable", "Enterprise")' class="button">Назад</a>
    </div>
</body>
</html>
