
<!DOCTYPE html>
<html>
<head>
    <title>Удаление записи</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/EnterpriseCreateDelete.css" />
</head>
<body>
    <div class ="centered-div">
        <h1>Удаление записи</h1>
        <form action="/Enterprise/Delete" method="post" class="container">
            <label for="enterpriceId">ID записи:</label>
            <input type="text" name="enterpriceId" required>
            <br>
            <button type="submit" class="button">Удалить</button>
        </form>
        <a href='@Url.Action("ShowTable", "Enterprise")' class="button">Назад</a>
    </div>
</body>
</html>