
<!DOCTYPE html>
<html>
<head>
    <title>Requirements</title>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/EnterpriseCreateDelete.css" />
</head>
<body>
    <h1>Запросы</h1>
    <br>
    <p><a href='@Url.Action("FirstReq", "Requirements")' class="button">Объем воды в тепловых сетях</a></p>
    <br>
    <p><a href='@Url.Action("SecondReq", "Requirements")' class="button">Тепловые сети</a></p>
    <br>
    <p><a href='@Url.Action("ThirdReq", "Requirements")' class="button">Стальные трубы</a></p>
</body>
</html>
