<!DOCTYPE html>
<html>
<head>
    <title>Удаление записи</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Удалить запись</h1>
    <form action="/HeatWell/Delete" method="post">
        <label for="wellId">Идентификатор скважины:</label>
        <input type="number" name="wellId" required>
        <br>
        <button type="submit">Удалить</button>
    </form>

</body>
</html>
