@{
	var result = ViewBag.data as List<string> ?? new();
	var text = ViewBag.text ?? "";
	var column = ViewBag.column ?? "";
}

<form>
	<label for="searchColumn">Выберите столбец для поиска:</label><br />
	<select name="searchColumn">
		<option value="WellName" @(column == "WellName" ? "selected" : "")>WellName</option>
		<option value="NodeNumber" @(column == "NodeNumber" ? "selected" : "")>NodeNumber</option>
	</select><br />

	<label for="searchText">Введите текст для поиска:</label><br />
	<input type="text" name="searchText" value="@text" /><br />

	<input type="submit" value="Найти" />
</form>

<div>
	@foreach (var item in result)
	{
		<p>@item</p>
	}
</div>
