@using ProgramASP.ViewModels.AccountModels
@model DeleteAccountViewModel

<html>
<head>
    <title>Удаление</title>
    <link rel="stylesheet" type="text/css" href="/css/DeleteUser.css" />
</head>
<body>
    <div class="centered-div">
        <form method="post" class="container">
            <div>
                <label for="PhoneNumber">Телефонный номер пользователя:</label>
                <input type="number" id="PhoneNumber" name="PhoneNumber" required />
                @Html.ValidationSummary(true, "", new { @class = "delete-errors" })
            </div>
            <button type="submit" class="button">Удалить</button>
        </form>
        <a href='@Url.Action("Index", "Home")' class="button">На главную</a>
    </div>
   
</body>
</html>
