<html>
<head>
    <title>Вход</title>
    <link rel="stylesheet" type="text/css" href="/css/Login.css" />
    <style>
        .centered-div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class ="centered-div">
        <form method="post" class="container">
            <div>
                <label for="PhoneNumber">Номер телефона:</label>
                <input id="PhoneNumber" type="number" name="PhoneNumber" required />
            </div>
            <div>
                <label for="Password">Пароль:</label>
                <input id="Password" type="password" name="Password" required />
            </div>
            <button type="submit">Войти</button>
        </form>
        <a href='@Url.Action("Index", "Home")' class="button">На главную</a>
    </div>
</body>
</html>