@using ProgramASP.ViewModels.AccountModels
@model UpdateAccountViewModel

<html>
<head>
    <title>Обновить пользователя</title>
    <link rel="stylesheet" type="text/css" href="/css/DeleteUser.css" />
</head>
<body>
    <div class="centered-div">
        <form method="post" class="container">
            <div>
                <label for="OldPhoneNumber">Введите старый номер телефона:</label>
                <input type="number" id="OldPhoneNumber" name="OldPhoneNumber" required />
                @Html.ValidationSummary(true, "", new { @class = "update-errors" })
            </div>

            <div>
                <label for="NewPhoneNumber">Введите новый номер телефона: </label>
                <input type="number" id="NewPhoneNumber" name="NewPhoneNumber" />
            </div>

            <div>
                <label for="NewRights">Добавить\убрать права:</label>
                <input type="checkbox" id="NewRights" name="NewRights" value="true" />
            </div>
            <button type="submit" class="button">Обновить</button>
        </form>
        <a href='@Url.Action("Index", "Home")' class="button">На главную</a>
    </div>
</body>
</html>
