@{
    string head = "Hello METANIT.COM!"; // определяем переменную head
    string text = "ASP.NET Core Application";   // определяем переменную text
}
<!DOCTYPE html>
<html>
<head>
    <title>METANIT.COM</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>User Form</h2>
    <form method="post">
        <p>
            <label for="language">Введите элемент:</label>
            <input type="text" name="language" />
        </p>
        <p>
            <input type="submit" value="Добавить" />
        </p>
    </form>
    <p><a href='@Url.Action("ShowTable", "Enterprise")'>О сайте</a></p>
</body>
</html>