<!DOCTYPE html>
<html>
<head>
    <title>Добавление новой записи</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/EnterpriseCreateDelete.css" />
</head>
<body>
    <div class="centered-div">
        <h1>Добавить секцию труб</h1>
        <form method="post" action="/PipelineSection/Create" class="container">

            <label>Номер секции:</label>
            <input type="text" name="sectionNumber" /><br>

            <label>Номер начального узла:</label>
            <input type="text" name="startNodeNumber" /><br>

            <label>Номер конечного узла:</label>
            <input type="text" name="endNodeNumber" /><br>

            <label>Длина трубопровода:</label>
            <input type="text" name="pipelineLength" /><br>

            <label>Диаметр:</label>
            <input type="text" name="diameter" /><br>

            <label>Толщина:</label>
            <input type="text" name="thickness" /><br>

            <label>Дата последнего ремонта:</label>
            <input type="date" name="lastRepairDate" /><br>

            <button type="submit" class="button">Добавить</button>
        </form>
        <a href='@Url.Action("ShowTable", "PipelineSection")' class="button">Назад</a>
    </div>
</body>
</html>