<!DOCTYPE html>
<html>
<head>
    <title>Удаление записи</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/EnterpriseCreateDelete.css" />
</head>
<body>
    <div class="centered-div">
        <h1>Удаление трубопровода</h1>
        <form method="post" action="/PipelineSection/Delete" class="container">
            <label>ID записи:</label>
            <input type="text" name="pipelineId" /><br>

            <button type="submit" class="button">Удалить</button>
        </form>
        <a href='@Url.Action("ShowTable", "PipelineSection")' class="button">Назад</a>
    </div>
</body>
</html>
